.cardimage {
    margin-bottom: -3.5%;
}


.singleHotel-room-card {
    display: flex;
    margin-bottom: 4%;
    justify-content: space-between;
}

.singleHotel-room-card-image {
    margin-right: 4%;
}
.singleHotel-room-card-middle-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.amenities-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
    flex-wrap: wrap;
}

.singleHotel-room-search{
    padding: 4%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.singleHotel-room-search-div{
    margin-bottom:5%;
}

.hotel-location-container{
    margin-left: 10.6%
}

.hotel-location-container-wrapper{
    display: flex;
    margin-top: 5%;
}

.hotel-location-container-wrapper-text{
    padding: 0.1% 2.6%;
    margin-right:1%;
    border-radius: 5px;
    font-size: 70%;
    color: white
}