@media only screen and (max-width: 600px) {
    .swiper-slide {
      width: 50% !important;
    }
  }

.swiper-main{
  padding: 1%
}
.swiper-main .swiper-slide:hover{
  box-shadow: 0px 0px 12px -2px rgb(121, 121, 121);
  margin-top: -2px;
}

.swiper-main .swiper-button-next{
      background-color: white;
      padding: 1%;
      border-radius: 80px;
      width: 1% !important;
      height: 4%!important;
}

.swiper-main .swiper-button-prev{
  background-color: white;
  padding: 1%;
  border-radius: 80px;
  width: 1% !important;
  height: 4%!important;
}
.swiper-main .swiper-button-next::after{
  font-size: 1.5rem !important;
}
.swiper-main .swiper-button-prev::after{
  font-size: 1.5rem !important;
}