.nav-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height:auto
}

.nav-left_container {
    display: flex;
    margin-right: 30%;
}

.nav-text-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 1%;
    border-right: 1px solid white;
}

.nav-right_container {
    display: flex;
    align-items: center;
}

.right-child-container {
    border-right: 1px solid white;
}

.nav-menu {
    display: none !important;
}

.nav-currency-dropdown{
    margin-left: 1%;
}

.appBar {
    transition: transform 01s !important;
    background-color: white !important;
  }
.appBarVisible {
    transform: translateY(0) !important
  }

.appBarHidden {
    transform: translateY(-100%) !important
  }

@media screen and (max-width: 600px) and (min-width: 370px) {
    .nav-container{
        display: none;
    }
    .fullscreenNavabr{
        display:none;
    }
}